* {
  padding: 0;
  margin : 0;
}

/* HEADER RELATED STYLING */

header {
  position: fixed;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px black;
  z-index: 4;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-left: 25px;
}

.logo-container span {
  padding-left: 10px;
  color: rgb(97, 217, 196);
}

header nav {
  margin-right: 40px;
}

header span {
  font-weight: bold;
  font-family: "tahoma";
  font-size: 16px;
}

header a{
  color: black;
  padding-left: 20px;
}

/* MAIN CONTAINER STYLING */

main,
footer {
  position: relative;
  top: 80.8px;
}

main {
  margin: 0 auto;
  padding: 30px 0;
  width: 1300px;
  display: flex;
  justify-content: space-around;
}

.large-column {
  width: 600px;
}

.mid-column {
  width: 300px;
}

.small-column {
  width: 260px;
}
